.header-wrap {
  max-width: 900px;
  padding: 0 15px;
  margin: 0 auto;
}
.main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 52px 0;
}

.nav-item {
  margin-left: 36px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding: 12px;
  border-top: 5px solid #e8ebf1;
}
.header {
  background-color: #e8ebf1;
}
.nav-item:hover {
  cursor: pointer;
  background-color: white;
  border-top: 5px solid #2aacc8;
  transition: 0.3s ease;
}
.link-menu:hover {
  color: #2aacc8;
}
.item:hover {
  cursor: pointer;
  color: #2aacc8;
}
.submenu {
  display: none;
  background-color: white;
}
.submenu > .ulsubmenu {
  position: absolute;
}
.ulsubmenu {
  background-color: white;
  z-index: 100;
  width: 200px;
  border-bottom: 5px solid #2aacc8;
  left: 0;
}

.drop {
  position: relative;
}
.drop:hover .submenu {
  display: block;
}

.ulsubmenu > li {
  padding: 10px 0 16px 10px;
  font-family: "Roboto";
  font-size: 13px;
  margin-top: 10px;
  border-bottom: 1px solid #e7e7e7;
}
.item:hover a {
  color: #2aacc8;
}

.bg {
  background-color: #81e4ed;
  width: 100%;
  background-size: cover;
  padding-top: 19px;
}

.container1 {
  background-color: #e05936;
  max-width: 1000px;
  margin: auto;
}
.content1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.title {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 50px;
  line-height: 59px;
  margin-left: 61px;
}
.slider-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-slider {
  border: none;
  height: 14px;
  width: 14px;
  background-color: #626262;
  border-radius: 50px;
  opacity: 50%;
  margin-right: 17px;
  cursor: pointer;
  margin-top: 9px;
  margin-bottom: 14px;
  opacity: 50%;
}
.nav-slider:last-child {
  margin-right: 0;
}
.white {
  border: none;
  height: 14px;
  width: 14px;
  background-color: #ffffff;
  border-radius: 50px;
  opacity: 1;
}

.bg1 {
  background-color: #e8ebf1;
  width: 100%;
}
.container2 {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.description1 {
  max-width: 23%;
}
.title2 {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 15px;
  margin-top: 67px;
  margin-bottom: 31px;
}
.title2::before {
  content: "";
  width: 40px;
  height: 40px;
  background-color: #2aacc8;
  border-radius: 50%;
  position: relative;
  margin-right: 19px;
}
.clean::after {
  content: url(../assets/img/icons/pen.png);
  position: absolute;
  left: 10px;
  bottom: 3px;
}
.respons::after {
  content: url(../assets/img/icons/fullscreen.png);
  position: absolute;
  left: 10px;
  bottom: 7px;
}
.fully::after {
  content: url(../assets/img/icons/view-list.png);
  position: absolute;
  left: 12px;
  bottom: 8px;
}
.ready::after {
  content: url(../assets/img/icons/plane2.png);
  position: absolute;
  left: 10px;
  bottom: 4px;
}

.link {
  color: #2aacc8;
  size: 13px;
  position: relative;
  display: flex;
  padding-left: 18px;
  margin-bottom: 46px;
}
.link::before {
  content: "";
  width: 5px;
  height: 7px;
  border-top: 2px solid black;
  border-right: 2px solid black;
  position: absolute;
  transform: rotate(45deg);
  left: 2px;
  bottom: 5px;
}
.txt-description1 {
  font-size: 13px;
  list-style: 16px;
}
.bg2 {
  background-color: white;
  width: 100%;
}
.container3 {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.txt-h3 {
  margin-left: 40px;
  margin-right: 810px;
  position: relative;
  display: block;
}
.txt-h3::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #2aacc8;
  border-radius: 50%;
  position: absolute;
  left: 891px;
  cursor: pointer;
}
.txt-h3::after {
  content: "";
  width: 5px;
  height: 7px;
  border-top: 2px solid black;
  border-right: 2px solid black;
  position: absolute;
  transform: rotate(223deg);
  left: 899px;
  bottom: 8px;
  cursor: pointer;
}
.arrow-wrap {
  position: relative;
}
.arrow {
  padding-top: 15px;
}
.arrow-wrap::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #2aacc8;
  border-radius: 50%;
  position: absolute;
  left: 980px;
  top: 19px;
  cursor: pointer;
}
.arrow-wrap::after {
  content: "";
  width: 5px;
  height: 7px;
  border-top: 2px solid black;
  border-right: 2px solid black;
  position: absolute;
  transform: rotate(45deg);
  left: 985px;
  top: 24px;
  cursor: pointer;
}

.container-pics {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid #dfe1e5;
  border-top: 1px solid #dfe1e5;
  padding-top: 20px;
  padding-bottom: 30px;
}
.wrap-pic {
  position: relative;
}
.wrap-pic::before {
  content: url(../assets/img/icons/preview.png);
  position: absolute;
  right: 116px;
  top: 104px;
  z-index: 100;
  cursor: pointer;
}
.wrap-pic::after {
  content: url(../assets/img/icons/link.png);
  position: absolute;
  z-index: 100;
  bottom: 31px;
  left: 135px;
  cursor: pointer;
}
.blue {
  width: 220px;
  height: 82px;
  background-color: #2aacc8;
  position: absolute;
  top: 79px;
}
.bg3,
.bg4 {
  margin: 0 auto;
  max-width: 1000px;
}
.block1 {
  width: 43%;
}
.block2 {
  width: 48%;
}
.logo {
  display: flex;
  flex-wrap: wrap;
  height: 200px;
}
.logo-div {
  width: 33%;
  border: 1px solid #dfe1e5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.txt-testimonial {
  margin-bottom: 40px;
}
.icon-clients {
  margin-right: 15px;
}
.testimonials,
.clients {
  margin-top: 24px;
  margin-bottom: 16px;
}
.testimonials::before {
  content: url(../assets/img/icons/comment.png);
  margin-right: 15px;
  position: relative;
  top: 4px;
}

.bg4 {
  background-color: #e8fcfe;
  border: 1px solid #81e4ed;
  margin-top: 42px;
  margin-bottom: 40px;
}
.container4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.txt-download {
  width: 61%;
  display: inline-block;
  padding-left: 31px;
  padding-top: 33px;
  padding-bottom: 41px;
}
.button {
  padding: 18px 32px 19px 69px;
  border: 1px solid #2aacc8;
  background: linear-gradient(
    0deg,
    #2aacc8 0%,
    #2aacc8 0.1%,
    #60cede 14.9%,
    #72dae6 50%,
    #81e4ed 100%
  );
  font-size: 18px;
  border-radius: 3px;
  position: relative;
  margin: 40px 40px 40px;
  cursor: pointer;
}

.sign-download::before {
  content: url(../assets/img/icons/download.png);
  position: absolute;
  left: 23px;
  top: 13px;
}
.bg5 {
  width: 100%;
  background-color: #e8ebf1;
}
.container-flex {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-us,
.explore,
.browse {
  display: block;
}
.about-us {
  width: 24%;
}
.explore {
  width: 10%;
}

.browse {
  width: 15%;
}
.adress-contacts {
  width: 16%;
}
.sm {
  display: flex;
  flex-wrap: wrap;
  width: 20%;
}
.copyright {
  width: 80%;
}
.logo-footer {
  width: 20%;
}
.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.txt-copyright {
  width: 80%;
}
.logo-footer {
  width: 20%;
}
.sign-footer,
.sign-explore,
.sign-browse,
.phones {
  font-weight: 700;
  margin-top: 31px;
}
.connect {
  font-weight: 400;
  margin-top: 31px;
  margin-left: 7px;
  margin-bottom: 0;
}
.copyright,
.logo-footer {
  margin-top: 57px;
  margin-bottom: 54px;
}

.ss {
  margin-right: 11px;
}
.bs-footer {
  margin-left: 22px;
}
.map-site,
.browse-links,
.phone1,
.fax {
  font-size: 14px;
}
